<div class="banner" mt-5 mb-5>

  <div class="card">
    <div class="card-body"><br>
      <h1>Know a little more about me   <i class="bi bi-chat-heart"></i></h1><br>
      Hiiiiii! My name is Nischal B Patil and I'm a Information Science & Engineering Student at University of VTU. I always wanted to be a programmer  So Information Science & Engineering would be the perfect choice, because the course has everything I love: science, math and computing.
      I started my graduation in 2021, I remember my first days in classes and the sparkle that came to my eyes at the universe of possibilities that I would have ahead of me.
      Then, here I am, trying to be a Software developer.I love  games, science, art and learn new things. And sure, meet new people! Nice to meet you, feel free
      for send me an email in the section contact!
    </div>
  </div>
</div>
