.navchan {

  background-color: rgb(49, 250, 55);
  padding: 30px;

}

a {

  color: rgb(106, 32, 140);
  text-decoration: none;
  padding: 0px 6px;
  font-size: 17px;
  margin: 15px;
  font-family: Trebuchet MS, sans-serif;
}




