.footer {

  overflow: hidden;
  background-color: rgb(48, 192, 32);
  padding: 20px 10px;
  position: sticky;
  top: 100%;
}

a {

  color: #ffff;
  text-decoration: none;
  padding: 0px 6px;
  font-size: 17px;
}

a:hover {

  color: var(--primary-color);
}

i {

  padding: 0px 10px;
}

